h5{
  font-size: 1.5rem;
  font-weight: 500;
}

h3{
  border-style: none;
  margin-bottom: 1%;
}

h3, h5{
  text-align: left;
  padding: 1% 3%;
}

.forgot-label{
  text-align: left;
  color: #6F8FAF;
}

.forgot-input{
  width: 90%;
  margin: 1% 3%;
}

.forgot-btn{
  margin-top: 2%;
  padding: 1.8%;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #6F8FAF;
  border-color: #6F8FAF;
}

.forgot-btn:hover{
  background-color: #5D3FD3;
  border-color: #5D3FD3;
}

#forgotpassword-div{
  padding: 5% 15%;
}
