thead{
  color: #233142;
}

h3{
  padding-top: 3%;
  font-style: "Montserrat", sans-serif;
  font-weight: 700;
}

h5{
  color: #808080;
  font-size: 1.1rem;
  font-weight: 500;
}

.order-img{
  width: 15rem;
  height: 15rem;
}

.order-item{
  vertical-align: middle;
}

.order-div{
  text-align: left;
  padding: 2% 10% 0 10%;
}
