body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h5{
  color: #FF5959;
  font-size: 1.7rem;
  font-weight: 600;
}

p{
  color: #233142;
  font-size: 1.3rem;
  font-weight: 300;
}

#shop-div{
  background-color: #F7F3E9;
}
