body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #F7F3E9;
}

h5{
  color: #FF5959;
  font-size: 1.7rem;
  font-weight: 600;
}

p{
  color: #233142;
  font-size: 1.3rem;
  font-weight: 300;
}

.inspect-text{
  font-weight: bold;
}

.modal-price, .modal-gender, .modal-brand, .modal-caption{
  font-weight: 500;
}

.brand-title {
 font-style: italic;
}

.nav-link{
  font-size: 1.2rem;
  width: 6.9rem;
}

.right{
  margin-left: 0;
}

.right-text{
  font-size: 1rem;
}

.nav-icon{
  font-size: 1.2rem;
  padding: 5%;
}

.exit-icon{
  padding-left: 5px;
  color: #233142;
}

.carousel-img{
  width: 40%;
  height: 40%;
}

.subtitle{
  font-size: 2rem;
  font-weight: bold;
  color: #FACF5A;
  padding: 3% 5%;
  border-style: none none solid none;
  border-radius: 50%;
  margin-top: -1%;
  margin-bottom: 4%;

}

.carousel-caption{
  position: absolute;
  background-color: #FFF;
  opacity: 70%;
  margin-bottom: -2%;
  padding: 5% 3%;
  z-index: 1;
  text-align: left;
}

.category-img{
  width: 87%;
  height: 87%;
  transition: transform .3s;
  border-radius: 2%;

  filter: grayscale(90%);
}

.category-img:hover{
  box-shadow: 8px 8px 5px #233142;
  transform: scale(1.1);
  filter: grayscale(0);

}

.col2{
  margin-top: 2%;
  margin-bottom: 2.3%;
}

.category-text{
  font-size: 1.7rem;
  font-weight: 600;
  color: #E6E6FA;
}

.featured-title{
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
  color: #FACF5A;
  padding-left: 2%;
}

.card-img-top{
  transition: transform .3s;
  width: auto;
  height: 13rem;
  border: none;
}

.card-body{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.card-text{
  font-size: 1rem;
}

.footer-icon{
  color: #E6E6FA;
  font-size: 1.5rem;
  padding: 0 2%;
}

.footer-icon:hover{
  color: #FACF5A;
}

.footer-p{
  color: grey;
  margin: 2.5% 0 0.6% 0;
}

.featured-col h5{
  font-size: 1.2rem;
  color: #233142;
}

.featured-col h6{
  font-size: 0.9rem;
}

.featured-col .btn{
  background-color: #FF5959;
  color: white;
  margin-top: 7%;
}

.featured-col .btn:hover{
  background-color: #FF3333;
}

.featured-col{
  margin-left: 2.7%;
  padding-top: 2.5%;
}

.inspect-img{
  width: 50%;
  height: 50%;
}

.inspect-text{
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-align: left;
  padding: 3% 0 0 3%;
}

.modal-caption{
  text-align: left;
}

.cart-sum{
  margin: 5% 0 -3% 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #233142;
}

.cart-item-img{
  width: 50px;
  height: 50px;
}

.cart-item{
  vertical-align: middle;
}

.delete-item{
  /*margin-top: -15%;*/
  color: #233142;
}

.delete-item:hover{
  color: red;
}

#cart-btn:hover, #profile-btn:hover{
  color: #fff;
  background-color:#233142;
  border-color: #fff;
}

#cart-btn:focus, #profile-btn:focus{
  background-color: #233142;
  border-color: #fff;
}

#footer-section{
  background-color: #233142;
  padding: 3% 7%;
}

#featured-section{
  background-color: #F7F3E9;
  padding: 3.5% 1%;
}

#category-section{
  background-color: #233142;
  padding: 3% 7%;
}

#site-name{
  font-weight: 650;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 2% 2% 2% 0;
}

#site-name:hover{
  color: #FACF5A;
}

#nav-main{
  background-color: #233142;
  padding: 1% 0 1.5rem;
}

#navbar-section{
  background-color: #233142;
  margin-bottom: 0;
}

#dropdown{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #233142;
}

#featured-carousel{
  padding: 1% 10%;
}
